<div class="content-left">
    <h1>Advanced Search</h1>
    <hr>
    <br/>

    <form id="advsearch-form" method="get" action="advsearch.php"> <!--TODO:advsearch.php-->
        <table border="0" cellpadding="4" cellspacing="0">
            <tbody>
            <tr>
                <td><b>Keywords:</b></td>
                <td><input type="text" size="40"/> <input type="submit" value="Search"/></td>
            </tr>
            <tr>
                <td><b>Matching:</b></td>
                <td>
                    <select>
                        <option value="0">any term</option>
                        <option value="1">all terms</option>
                        <option value="2">exact phrase</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>Search Index:</b></td>
                <td>
                    <input type="radio" id="" value="All" checked="checked"/><label>
                    Search <b>All</b> sections of this site</label><br>
                    <input type="radio" id="" value="include-by-name"/><label>
                    Search only these sections:</label>

                    <div style="margin-left:50px">
                        <input type="checkbox" value="1" id=""><label>AXS Tracking</label><br>
                        <input type="checkbox" value="1" id=""><label>Apache Guardian</label><br>
                        <input type="checkbox" value="1" id=""><label>FD Search Engine</label><br>
                        <input type="checkbox" value="1" id=""><label>xav.com Other</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>Results per Page:</b></td>
                <td>
                    <select>
                        <option value="10">10 results</option>
                        <option value="25">25 results</option>
                        <option value="100">100 results</option>
                        <option value="99999999">all on one page</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>Sorting:</b></td>
                <td>
                    <input id="" type="radio" value="1" checked="checked"><label> by relevance</label><br>
                    <input id="" type="radio" value="2"><label> by relevance,reversed</label>
                    <input type="hidden" value="0">
                    <input type="checkbox" value="1" checked="checked" id="">
                    <label>Give extra relevance to recently-modified documents</label>
                    <input id="" type="radio" value="3"><label> by last modified time</label>
                    <input id="" type="radio" value="4"><label> by last modified time, reversed</label>
                    <input id="" type="radio" value="5"><label> by last index time</label><br>
                    <input id="" type="radio" value="6"><label> by last index time, reversed</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>String Handling:</b>
                    <blockquote>
                        <input type="hidden" value="0">
                        <input type="checkbox" value="1" checked="checked" id="">
                        <label>Match approximate plural forms; "bug" will match "bug" or "bugs"</label>
                        <input type="radio" id="" value="0" checked="checked">
                        <label> Match whole words; "eat" will match "eat"</label><br>
                        <input type="radio" id="" value="1">
                        <label> Match substrings; "eat" will match "beat" and "neat"</label>
                    </blockquote>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="content-right">
    <h1 class="search-widget-title">SEARCH</h1>

    <div id="content-sidebar">
        <fieldset><input type="text" id="searchwidget" title="searchwidget"/></fieldset>
        <div class="advsearchlink"><a onclick="seance.init('advsearch');">Advanced search options >></a></div>
        <hr>
        <h3>LEADERSHIP MESSAGES</h3>
        <img src="src/img/ie6/dog-ie6.png" id="img-dog" alt="A cute puppy dog holding a document."/>

        <p><a class="boldpurple" onclick="seance.init('worktools');">Vero ornatus indoctum</a>
            qui ex, et duo rebum nominati senserit.
            Partem menandri iudicabit et est, id qui nostrum elaboraretqui ex,
            et duo rebum
            <span class="popuplink">Has cu ornatus maluisset nominati senserit.</span>
            <span class="popup" id="popup_leadership" style="visibility:hidden;">
            <span class="triangle"></span><strong>Eum eius choro signiferumque:</strong>
                ea, nonumes veritus at usu. Qui id fabulas mnesarchum consectetuer,
                mei quidam fabulas corrumpit et,ea vim omnium sanctus.No pri solum.
            </span>
            Partem menandri iudicabit et est,solum debitis democritum usu no.
            Vix iudicabit cotidieque ea, sit conceptam expetendis at.
        </p>
    </div>
</div>
<div class="content-foot">
    <h1>RECAP NEWS</h1>
    <hr>
    <div class="content-foot-article">
        Vero ornatus indoctum qui ex, et duo rebum nominati senserit.
        Partem menandri iudicabit et est, id qui nostrum elaboraretqui ex,
        et duo rebum. Has cu ornatus maluisset. Nec ut diam esse quas,
        ad per bonorum noluisse interpretaris, at quo
        ullamcorper intellegebat. Quod quando delectus sea id.
        <span class="popuplink">Has cu ornatus maluisset nominati senserit.</span>
            <span class="popup" id="popup_news" style="visibility:hidden;">
            <span class="triangle"></span><strong>Eum eius choro signiferumque:</strong>
                ea, nonumes veritus at usu. Qui id fabulas mnesarchum consectetuer,
                mei quidam fabulas corrumpit et,ea vim omnium sanctus.No pri solum.
            </span>
        <strong>Eum eius choro signiferumque:</strong> ea, nonumes veritus at usu.
        Qui id fabulas mnesarchum consectetuer
    </div>
    <img src="src/img/ie6/globe-ie6.png" class="img-globe" alt="Image of Earth."/>
</div>