<div class="content-left">

    <h1>COMPANY</h1>
    <hr><br/>
    <article>
        <h3 class="boldpurple">article header h3</h3>
        <p>Lorem ipsum dolor sit amet, amet, consectetur adipiscing elit.
            Aliquam sodales urna non consectetur adipiscing elit. Aliquam sodales urna non.
            Quo clita decore adversarium id quaeque indoctum at, vis alia dolor ne.
        </p>
    </article>
    <div class="accordion">
        <nav class="acc-link"><img class="check" src="src/img/checkmark.png"/>Accordion1</nav>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non</p>
        </div>
        <nav class="acc-link"><img class="check" src="src/img/checkmark.png"/>Accordion2</nav>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non</p>
        </div>
        <nav class="acc-link boldpurple">Accordion3</nav>
        <div class="content">
            Some more content
        </div>
        <nav class="acc-link">Accordion4</nav>
        <div class="content">
            <article class="styled-article-1">
                <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
                <ul>
                    <li>Consul partiendo incorrupte pro eu, facer simul cotidieque consequat torquatos.</li>
                    <li>Quo clita decore adversarium id quaeque indoctum at, vis alia dolor ne.</li>
                    <li>Etiam tempor vituperata cu sed. Sit natum id cum, ea has verear qualisque.</li>
                </ul>
                <p>Adipiscing elit lorem ipsum dolor sit amet, consectetur . Aliquam sodales urna non</p>
            </article>
        </div>
    </div>
</div>
<div class="content-right">
    <h1 class="search-widget-title">SEARCH</h1>
    <div id="content-sidebar">
        <fieldset><input type="text" id="searchwidget" title="searchwidget" /></fieldset>
        <div class="advsearchlink"><a onclick="seance.init('advsearch');">Advanced search options >></a></div>
        <hr>
        <h3>LEADERSHIP MESSAGES</h3>
        <img src="src/img/ie6/dog-ie6.png" id="img-dog" alt="A cute puppy dog holding a document."/>
        <p><a class="boldpurple" onclick="seance.init('worktools');">Vero ornatus indoctum</a>
            qui ex, et duo rebum nominati senserit.
            Partem menandri iudicabit et est, id qui nostrum elaboraretqui ex,
            et duo rebum
            <span class="popuplink">Has cu ornatus maluisset nominati senserit.</span>
            <span class="popup" id="popup_leadership" style="visibility:hidden;">
            <span class="triangle"></span><strong>Eum eius choro signiferumque:</strong>
                ea, nonumes veritus at usu. Qui id fabulas mnesarchum consectetuer,
                mei quidam fabulas corrumpit et,ea vim omnium sanctus.No pri solum.
            </span>
            Partem menandri iudicabit et est,solum debitis democritum usu no.
            Vix iudicabit cotidieque ea, sit conceptam expetendis at.
        </p>
    </div>
</div>
<div class="content-foot">
    <h1>RECAP NEWS</h1>
    <hr>
    <div class="content-foot-article">
        Vero ornatus indoctum qui ex, et duo rebum nominati senserit.
        Partem menandri iudicabit et est, id qui nostrum elaboraretqui ex,
        et duo rebum. Has cu ornatus maluisset. Nec ut diam esse quas,
        ad per bonorum noluisse interpretaris, at quo
        ullamcorper intellegebat. Quod quando delectus sea id.
        <span class="popuplink">Has cu ornatus maluisset nominati senserit.</span>
            <span class="popup" id="popup_news" style="visibility:hidden;">
            <span class="triangle"></span><strong>Eum eius choro signiferumque:</strong>
                ea, nonumes veritus at usu. Qui id fabulas mnesarchum consectetuer,
                mei quidam fabulas corrumpit et,ea vim omnium sanctus.No pri solum.
            </span>
        <strong>Eum eius choro signiferumque:</strong> ea, nonumes veritus at usu.
        Qui id fabulas mnesarchum consectetuer
    </div>
    <img src="src/img/ie6/globe-ie6.png" class="img-globe" alt="Image of Earth."/>
</div>