<div class="content-left">
    <form id="contact-form" method="post" action="contact.php"> <!--TODO:contact.php-->
        <div style="display:inline;">
            <h1>Contact Us</h1>
            <span>We'll be your best friend forever.</span>
        </div><br/><br/><br/>


        <h4>Your Name </h4>
            <span><label>First</label>
                <input name="firstname" alt="First Name" maxlength="30" size="12" /></span>
            <span><label>Last</label>
                <input name="lastname" alt="Last Name" maxlength="30" size="12" /></span>

        <h4>How did you hear about us? </h4>
            <p><input name="chk_ref1" type="checkbox" />
            <label for="chk_ref1">A friend got really drunk and...</label></p>
            <p><input name="chk_ref2" type="checkbox" />
            <label for="chk_ref2">I had your idea 2 years ago I just never told anyone!</label></p>
            <p><input name="chk_ref3" type="checkbox" />
            <label for="chk_ref3">Saw your business on match.com and it was love at first swipe.</label></p>


        <h4 for="element_1">Email Subject </h4>
        <div><input name="element_1" type="text" maxlength="150" /></div>
        <h4 for="email_body">Email Body </h4>
        <div><textarea name="email_body" rows="4" cols="50"></textarea></div>


        <h3>How should we get in touch with you</h3>
        <strong>by phone? </strong>
        <input size="12" type="text" maxlength="12" placeholder="123.456.7890" />
        <br/><br/>

        <strong>or by email? </strong>
        <input size="25" type="text" maxlength="255" placeholder="Jane.Doe@JollyRoger.com" />
        <br/><input id="submitButton_Contact" type="submit" name="submit" value="Submit"/>
    </form>
</div>
<div class="content-right">
    <h1 class="search-widget-title">SEARCH</h1>
    <div id="content-sidebar">
        <fieldset><input type="text" id="searchwidget" title="searchwidget" /></fieldset>
        <div class="advsearchlink"><a onclick="seance.init('advsearch');">Advanced search options >></a></div>
        <hr>
        <h3>LEADERSHIP MESSAGES</h3>
        <img src="src/img/ie6/dog-ie6.png" id="img-dog" alt="A cute puppy dog holding a document."/>
        <p><a class="boldpurple" onclick="seance.init('worktools');">Vero ornatus indoctum</a>
            qui ex, et duo rebum nominati senserit.
            Partem menandri iudicabit et est, id qui nostrum elaboraretqui ex,
            et duo rebum
            <span class="popuplink">Has cu ornatus maluisset nominati senserit.</span>
            <span class="popup" id="popup_leadership" style="visibility:hidden;">
            <span class="triangle"></span><strong>Eum eius choro signiferumque:</strong>
                ea, nonumes veritus at usu. Qui id fabulas mnesarchum consectetuer,
                mei quidam fabulas corrumpit et,ea vim omnium sanctus.No pri solum.
            </span>
            Partem menandri iudicabit et est,solum debitis democritum usu no.
            Vix iudicabit cotidieque ea, sit conceptam expetendis at.
        </p>
    </div>
</div>
<div class="content-foot">
    <h1>RECAP NEWS</h1>
    <hr>
    <div class="content-foot-article">
        Vero ornatus indoctum qui ex, et duo rebum nominati senserit.
        Partem menandri iudicabit et est, id qui nostrum elaboraretqui ex,
        et duo rebum. Has cu ornatus maluisset. Nec ut diam esse quas,
        ad per bonorum noluisse interpretaris, at quo
        ullamcorper intellegebat. Quod quando delectus sea id.
        <span class="popuplink">Has cu ornatus maluisset nominati senserit.</span>
            <span class="popup" id="popup_news" style="visibility:hidden;">
            <span class="triangle"></span><strong>Eum eius choro signiferumque:</strong>
                ea, nonumes veritus at usu. Qui id fabulas mnesarchum consectetuer,
                mei quidam fabulas corrumpit et,ea vim omnium sanctus.No pri solum.
            </span>
        <strong>Eum eius choro signiferumque:</strong> ea, nonumes veritus at usu.
        Qui id fabulas mnesarchum consectetuer
    </div>
    <img src="src/img/ie6/globe-ie6.png" class="img-globe" alt="Image of Earth."/>
</div>