<div class="content-left">
    <h3>DIRECTORY</h3>
    <hr><br/>
    <article>
        <h4>article header h1</h4>
        <p>Lorem ipsum dolor sit amet, amet, consectetur adipiscing elit.
            Aliquam sodales urna non consectetur adipiscing elit. Aliquam sodales urna non.
            Quo clita decore adversarium id quaeque indoctum at, vis alia dolor ne.
        </p>
    </article>
    <style type="text/css">
        body { margin: 10px; }
        table, th, td, li, dl { font-family: "lucida grande", arial; font-size: 8pt; }
        dt { font-weight: bold; }
        table { background-color: #efefef; border: 2px solid #dddddd; width: 100%; }
        th { background-color: #ABC6E7; }
        td { background-color: #ffffff; }
    </style>

    <table border="1" cellspacing="0" cellpadding="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Cool Points</th>
            <th>Department</th>
        </tr>
        <tr>
            <td>Axel F. Tucker</td>
            <td>neque@Etiam.net</td>
            <td>536</td>
            <td>Customer Service</td>
        </tr>
        <tr>
            <td>Daria Rocha</td>
            <td>luctus@iaculis.com</td>
            <td>438</td>
            <td>Payroll</td>
        </tr>
        <tr>
            <td>Tatum Sanford</td>
            <td>diam@semmolestie.co.uk</td>
            <td>711</td>
            <td>Media Relations</td>
        </tr>
        <tr>
            <td>Yetta Y. Cross</td>
            <td>tellus.sem@leoVivamus.net</td>
            <td>386</td>
            <td>Asset Management</td>
        </tr>
        <tr>
            <td>Kennedy Q. Case</td>
            <td>eu.accumsan@sapien.ca</td>
            <td>761</td>
            <td>Research and Development</td>
        </tr>
        <tr>
            <td>Chanda V. Weiss</td>
            <td>hendrerit@tristiquepellentesquetellus.ca</td>
            <td>553</td>
            <td>Research and Development</td>
        </tr>
        <tr>
            <td>Timon Landry</td>
            <td>scelerisque.scelerisque@miAliquam.ca</td>
            <td>846</td>
            <td>Quality Assurance</td>
        </tr>
        <tr>
            <td>Lysandra Washington</td>
            <td>lectus.Cum@dui.ca</td>
            <td>510</td>
            <td>Asset Management</td>
        </tr>
        <tr>
            <td>Fulton Fuller</td>
            <td>In@eu.edu</td>
            <td>914</td>
            <td>Sales and Marketing</td>
        </tr>
        <tr>
            <td>Avye D. Lucas</td>
            <td>Donec.luctus.aliquet@risus.net</td>
            <td>407</td>
            <td>Accounting</td>
        </tr>
        <tr>
            <td>Andrew Graham</td>
            <td>imperdiet.nec@eleifendnondapibus.com</td>
            <td>697</td>
            <td>Customer Relations</td>
        </tr>
        <tr>
            <td>Dahlia Bond</td>
            <td>aliquet.libero@Donecelementum.co.uk</td>
            <td>921</td>
            <td>Media Relations</td>
        </tr>
        <tr>
            <td>Noelani M. Palmer</td>
            <td>vestibulum.lorem@Nullam.ca</td>
            <td>677</td>
            <td>Tech Support</td>
        </tr>
        <tr>
            <td>Dominique W. Fuentes</td>
            <td>consectetuer@ante.ca</td>
            <td>83</td>
            <td>Customer Service</td>
        </tr>
        <tr>
            <td>Grant Boyd</td>
            <td>nisi.a@tempusrisusDonec.edu</td>
            <td>597</td>
            <td>Customer Service</td>
        </tr>
        <tr>
            <td>Bruno E. Donovan</td>
            <td>mollis@magnaseddui.org</td>
            <td>818</td>
            <td>Human Resources</td>
        </tr>
        <tr>
            <td>Igor P. Newman</td>
            <td>ullamcorper.nisl.arcu@necluctus.com</td>
            <td>584</td>
            <td>Customer Relations</td>
        </tr>
    </table>

</div>

<div class="content-right">
    <h1 class="search-widget-title">SEARCH</h1>
    <div id="content-sidebar">
        <fieldset><input type="text" id="searchwidget" title="searchwidget" /></fieldset>
        <div class="advsearchlink"><a onclick="seance.init('advsearch');">Advanced search options >></a></div>
        <hr>
        <h3>LEADERSHIP MESSAGES</h3>
        <img src="src/img/ie6/dog-ie6.png" id="img-dog" alt="A cute puppy dog holding a document."/>
        <p><a class="boldpurple" onclick="seance.init('worktools');">Vero ornatus indoctum</a>
            qui ex, et duo rebum nominati senserit.
            Partem menandri iudicabit et est, id qui nostrum elaboraretqui ex,
            et duo rebum
            <span class="popuplink">Has cu ornatus maluisset nominati senserit.</span>
            <span class="popup" id="popup_leadership" style="visibility:hidden;">
            <span class="triangle"></span><strong>Eum eius choro signiferumque:</strong>
                ea, nonumes veritus at usu. Qui id fabulas mnesarchum consectetuer,
                mei quidam fabulas corrumpit et,ea vim omnium sanctus.No pri solum.
            </span>
            Partem menandri iudicabit et est,solum debitis democritum usu no.
            Vix iudicabit cotidieque ea, sit conceptam expetendis at.
        </p>
    </div>
</div>
<div class="content-foot">
    <h1>RECAP NEWS</h1>
    <hr>
    <div class="content-foot-article">
        Vero ornatus indoctum qui ex, et duo rebum nominati senserit.
        Partem menandri iudicabit et est, id qui nostrum elaboraretqui ex,
        et duo rebum. Has cu ornatus maluisset. Nec ut diam esse quas,
        ad per bonorum noluisse interpretaris, at quo
        ullamcorper intellegebat. Quod quando delectus sea id.
        <span class="popuplink">Has cu ornatus maluisset nominati senserit.</span>
            <span class="popup" id="popup_news" style="visibility:hidden;">
            <span class="triangle"></span><strong>Eum eius choro signiferumque:</strong>
                ea, nonumes veritus at usu. Qui id fabulas mnesarchum consectetuer,
                mei quidam fabulas corrumpit et,ea vim omnium sanctus.No pri solum.
            </span>
        <strong>Eum eius choro signiferumque:</strong> ea, nonumes veritus at usu.
        Qui id fabulas mnesarchum consectetuer
    </div>
    <img src="src/img/ie6/globe-ie6.png" class="img-globe" alt="Image of Earth."/>
</div>