<div class="content-left">
    <h3>EMPLOYEE PORTAL</h3>
    <hr><br/>
    <script>
    </script>
    <input type="button" value="Cache Bustin' Cats" alt="Cat generator" title="Cat Generator" id="catgen-btn"/>
    <div id="catgen-frame">
        <img id="litterbox" height="300px" width="300px" src="http://lorempixel.com/300/400/cats" />
    </div>
</div>

<div class="content-right">
    <h1 class="search-widget-title">SEARCH</h1>
    <div id="content-sidebar">
        <fieldset><input type="text" id="searchwidget" title="searchwidget" /></fieldset>
        <div class="advsearchlink"><a onclick="seance.init('advsearch');">Advanced search options >></a></div>
        <hr>
        <h3>Bacon.</h3>
        Vero ornatus indoctum qui ex, et duo rebum nominati senserit.
        Partem menandri iudicabit et est, id qui nostrum elaboraretqui ex,
        et duo rebum. Has cu ornatus maluisset. Nec ut diam esse quas,
        ad per bonorum noluisse interpretaris, at quo
        ullamcorper intellegebat. Quod quando delectus sea id.
        <span class="popuplink">Has cu ornatus maluisset nominati senserit.</span>
            <span class="popup" id="popup_news" style="visibility:hidden;">
            <span class="triangle"></span><strong>Eum eius choro signiferumque:</strong>
                ea, nonumes veritus at usu. Qui id fabulas mnesarchum consectetuer,
                mei quidam fabulas corrumpit et,ea vim omnium sanctus.No pri solum.
            </span>
        <strong>Eum eius choro signiferumque:</strong> ea, nonumes veritus at usu.
        Qui id fabulas mnesarchum consectetuer

    </div>
</div>
<div class="content-foot">
    <h1>ABOUT THIS PAGE</h1>
    <hr>
    <div class="content-foot-article">
        <pre id="catcachefever">
Every day I'm cache bustin':
    $(parent).on('click', '#catgen-btn',  function(e) {
    var newcat = new Image(), litterbox = document.getElementById("litterbox");
    newcat.onerror = function(){console.log('wait... try meow')};
    newcat.onload = function(){litterbox.src = newcat.src;};
    newcat.src = 'http://lorempixel.com/300/400/cats?' + new Date().getTime();
});
        </pre>
    </div>
    <img src="src/img/ie6/globe-ie6.png" class="img-globe" alt="Image of Earth."/>
</div>