<div class="content-left">

    <h3>WORK TOOLS</h3>
    <hr><br/>

    <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

    <h2>Header Level 2</h2>

    <ol>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
    </ol>

    <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

    <h3>Header Level 3</h3>

    <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
    </ul>

    <pre><code>
        #header h1 a {
        display: block;
        width: 300px;
        height: 80px;
        }
    </code></pre>

</div>

<div class="content-right">
    <h1 class="search-widget-title">SEARCH</h1>
    <div id="content-sidebar">
        <fieldset><input type="text" id="searchwidget" title="searchwidget" /></fieldset>
        <div class="advsearchlink"><a onclick="seance.init('advsearch');">Advanced search options >></a></div>
        <hr>
        <h3>LEADERSHIP MESSAGES</h3>
        <img src="src/img/ie6/dog-ie6.png" id="img-dog" alt="A cute puppy dog holding a document."/>
        <p><a class="boldpurple" onclick="seance.init('worktools');">Vero ornatus indoctum</a>
            qui ex, et duo rebum nominati senserit.
            Partem menandri iudicabit et est, id qui nostrum elaboraretqui ex,
            et duo rebum
            <span class="popuplink">Has cu ornatus maluisset nominati senserit.</span>
            <span class="popup" id="popup_leadership" style="visibility:hidden;">
            <span class="triangle"></span><strong>Eum eius choro signiferumque:</strong>
                ea, nonumes veritus at usu. Qui id fabulas mnesarchum consectetuer,
                mei quidam fabulas corrumpit et,ea vim omnium sanctus.No pri solum.
            </span>
            Partem menandri iudicabit et est,solum debitis democritum usu no.
            Vix iudicabit cotidieque ea, sit conceptam expetendis at.
        </p>
    </div>
</div>
<div class="content-foot">
    <h1>RECAP NEWS</h1>
    <hr>
    <div class="content-foot-article">
        Vero ornatus indoctum qui ex, et duo rebum nominati senserit.
        Partem menandri iudicabit et est, id qui nostrum elaboraretqui ex,
        et duo rebum. Has cu ornatus maluisset. Nec ut diam esse quas,
        ad per bonorum noluisse interpretaris, at quo
        ullamcorper intellegebat. Quod quando delectus sea id.
        <span class="popuplink">Has cu ornatus maluisset nominati senserit.</span>
            <span class="popup" id="popup_news" style="visibility:hidden;">
            <span class="triangle"></span><strong>Eum eius choro signiferumque:</strong>
                ea, nonumes veritus at usu. Qui id fabulas mnesarchum consectetuer,
                mei quidam fabulas corrumpit et,ea vim omnium sanctus.No pri solum.
            </span>
        <strong>Eum eius choro signiferumque:</strong> ea, nonumes veritus at usu.
        Qui id fabulas mnesarchum consectetuer
    </div>
    <img src="src/img/ie6/globe-ie6.png" class="img-globe" alt="Image of Earth."/>
</div>