*{box-sizing: border-box;}
hr {display: block;height: 1px;
    border: 0;border-top: 1px solid #999999;
    margin: 1em 0;padding: 0;}
body {
    font-size: 12px;line-height:1;zoom:1;text-align:center;
    font-family: Helvetica, Arial, serif;}
h1{font-size:14px;font-weight:bold;}
.check{width:11px;height:11px;margin:0 6px -1px 0;}
article{font-size:11px;line-height:13px;}
h3{font-size:14px;line-height:17px; margin-bottom:5px;}

/*** MAJOR CONTAINERS
-------------------*/
#fullwrapper {width: 960px;margin: 0 auto;}
#row-header {width:960px;height:60px; margin:20px 0 0;position:relative;display:block;}
#row-main {width:960px;height:675px;position:relative;display:block;}
#left-foot{width:210px;height:100px;display:inline;float:left;}
#main-left{width:195px;margin-right:15px;position:relative;display:inline;float:left;}
#main-right{width:750px;display:inline;float:left;}


/****---[row]--- HEADER
---------------------*/
#brand{color:#57004E;font-family: Georgia, serif;
    font-weight: lighter;float:left;display:inline;width:230px;}
#brand-title{font-size: 36px;}
#brand-subtext{font-size: 16px;}
#loginfields{float:left;display:inline;width:450px;
    font-size:12px;font-weight:bold;margin-top:10px;}
#loginfields input{width:120px;border-radius:5px;behavior: url(src/vendor/PIE.htc);}
#actionlinks{float:right;display:inline;font-size:12px;}
#actionlinks ul li {display: inline;}


/****---[row]--- MAIN-LEFT
------------------------*/
#img-businessman{position:absolute;top:10px;left:0;}
#main-left-articles-wrapper {margin-top:300px;text-align:left;}
#main-left h4{font-size:15px;font-weight:bold;margin-bottom:0;}
#main-left p{font-size:13px;line-height:19px;margin-top:0;}


/*%%%%%%%%%%  M A I N  %%%%%%%%%%
--------------------------------*/
#pagenavs {
    width: 745px;
}
#pagenavs ul {
    margin: 0 auto -12px;position:relative;
}
#pagenavs ul li {
    display:inline-block;position:relative;vertical-align: bottom;
    width: 110px;height: 24px;margin:0;
    font-size:12px;font-weight:lighter;text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background:#ECECEC;
    cursor:pointer;
    behavior: url(src/vendor/PIE.htc);
}
#pagenavs ul li span {
    display:inline-block;position: absolute;bottom: 0; right: 0;vertical-align: bottom;
    width: 110px;margin: 0 0 4px;
    text-align: center;text-decoration: none;font-weight: bold;cursor:pointer;
}
nav a:hover,nav a:visited {color:#57004E;}
a{cursor:pointer;}
a:hover {text-decoration: underline;}


/*%%%%%%%%%% CONTENT CENTER MAIN
------------------------------*/

#contentplate{
    border-radius:5px;
    background-color:#FFFFFF;
    height:650px;
    overflow:hidden;
    text-align: left;
    -webkit-box-shadow: 0 5px 10px #888888;
    -moz-box-shadow: 0 5px 10px #888888;
    box-shadow: 0 5px 10px #888888;
    padding:28px 22px 0 22px;
    behavior: url(src/vendor/PIE.htc);
}
#c-pages-container{
    position:relative;
    text-align:left;
}
.c-pg{position:absolute;top:0;left:0;height:630px;}
.content-left{float:left;width: 480px;height:390px;padding-right:20px;
    display:inline;}

/*%%%%%%%%%% CONTENT MAIN MISC
------------------------------*/
.boldpurple {color:#57004E; font-weight:bold;}
.accordion{font-size:13px;width:100%;margin-top:15px;}
.accordion .acc-link {background: #ffffff;
    zoom:1;z-index:2;position: relative;
    border:1px solid #aaaaaa;border-radius:5px;
    cursor: pointer;padding:10px;
    background: -moz-linear-gradient(top,  #ffffff 0%, #EEEEF0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#EEEEF0));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#EEEEF0 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#EEEEF0 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#EEEEF0 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#EEEEF0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfe8ed',GradientType=0 );
    behavior: url(src/vendor/PIE.htc);
}
.accordion div.content {background: #ffffff;
    zoom:1;border:1px solid #aaaaaa; border-radius:5px;
    margin-top:-10px;padding:15px 10px 10px;
    display:none;position: relative;
    background: -moz-linear-gradient(top,  #ffffff 0%, #dfe8ed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfe8ed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#dfe8ed 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#dfe8ed 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#dfe8ed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#dfe8ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfe8ed',GradientType=0 );
    behavior: url(src/vendor/PIE.htc);
}
.accordion p { margin-top: 10px; color: #333333; font-size:10px; }
.styled-article-1{margin:10px;}
.styled-article-1 ul{list-style:inside; margin: 5px 0 0 15px;
    font-size:10px;line-height:12px;}
#catgen-btn{width:300px;font-size:20px;height:30px;border:3px inset #7E7E7E;border-radius:7px;}
#catgen-frame{width:300px;height:300px;border:3px inset #7E7E7E;display:block;margin-top:10px;}
#catcachefever{display:block;word-wrap: normal;font-size:10px;line-height:10px;overflow:hidden;}
.popuplink{border-bottom: 1px dotted #57004E; color:#57004E;
    cursor:pointer;position:relative;display:inline;}
.popup{position:absolute;bottom:10%;right:10%;
    width:160px;padding:15px 20px;border-radius:5px;
    font-size:10px;line-height:13px;background-color: #f5deb3;
    behavior: url(src/vendor/PIE.htc);
}
/*.triangle{//TODO:triangle for popup
    width: 0;height: 0;line-height: 0;
    border-style: solid;border-width: 173px 100px 0 100px;
    border-color: #faf6dc transparent transparent transparent;
    _border-color: #faf6dc #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}*/


/*%%%%%%%%%% CONTENT RIGHT SIDEBAR
--------------------------------*/
.content-right{float:right;width: 195px;overflow:hidden;display:inline;position:relative;}
#content-sidebar{padding-left:20px;border-left:1px solid #cccccc;line-height:16px;}

.search-widget-title{margin:0 0 15px 20px;}
.searchwidget{width:90px;border-radius:5px;behavior: url(src/vendor/PIE.htc);}
.advsearchlink{color:#1c94c4;font-weight:bold;margin-top:15px;text-decoration:underline;}

#img-dog{margin-top:20px;}

/*%%%%%%%%%% CONTENT FOOTER
-------------------------*/
.content-foot{width: 730px;height:150px;overflow:hidden;
     bottom:0;left:0;display:block;position:absolute;}
.content-foot-article{width:560px;height:85px;line-height:17px;}
.img-globe{
    position:absolute;bottom:0;right:0;
}

/****---[row]--- FOOTER
---------------------*/
#row-footer {width: 960px; height:60px; margin:45px 0 0; padding: 20px 0;position:relative;display:block;}
.footbadge {position:absolute;right:5px;bottom:-25px;height:31px;width:88px;}

