/*** RESETS  */
/* css Reset (Eric Meyer's Reset Reloaded + HTML5 baseline)
v1.4 2009-07-27 | By: Eric Meyer & Richard Clark  html5doctor.com/html-5-reset-stylesheet/*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
    margin:0;padding:0;
    border:0;outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
nav ul { list-style:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {display: block;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
input, select {vertical-align:middle;}
/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased;overflow-y: scroll; }
::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection { background: #b3d4fc;  text-shadow: none;}


body {
    background: -moz-linear-gradient(top, #9abde7 0%, #c0d0e7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9abde7), color-stop(100%, #c0d0e7));
    background: -webkit-linear-gradient(top, #9abde7 0%, #c0d0e7 100%);
    background: -o-linear-gradient(top, #9abde7 0%, #c0d0e7 100%);
    background: -ms-linear-gradient(top, #9abde7 0%, #c0d0e7 100%);
    background: linear-gradient(to bottom, #9abde7 0%, #c0d0e7 100%);
    background-color:#9abde7;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9abde7', endColorstr='#c0d0e7',GradientType=0 );
    position:relative;
    behavior: url(src/vendor/PIE.htc);
}



html.lt-ie9 img { -ms-interpolation-mode: bicubic; }
html.lt-ie8 .title { padding-top: 20px;}
html.lt-ie8 #pagenavs ul li { display:inline; margin: 0 2px -1px;}
html.lt-ie7 input { vertical-align: text-bottom; }

/* Accessibility Aids */
label, input[type=button], input[type=submit], button { cursor: pointer; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
